{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block title %}

{% endblock %}
{% block body %}

    <div  id="register">



    <div class="container " >
    <h1 class="row justify-content-center">  </h1>

    {{ form_start(form) }}

    {{ form_row(form.email)}}
    {{ form_row(form.password)}}
    {{ form_row(form.confirm_password)}}

    <input type="submit" id="" value="Envoyer" class="btn btn-lg btn-success btn-block">
    {{ form_end (form)}}
    </div>
    </div>
{% endblock %}