{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <script src="https://kit.fontawesome.com/1d7197e122.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">

    <div id="pages4">

        <div class="container">
            <div class="taro">
                <p class="tarifs">

                 <br>
                    <br>
                    TARIFS

                    - 50 €   la séance pour les Adultes (Minimun 18 ans)
                    <br>
                    - 30 €   la séance pour les Enfants
                    <br>
                    le paiement s'effectura sur place .
                    <br>
                </p>

                <div class="formm">
                {{ form_start(form) }}

    {{ form_row(form.name,{'label':'Name','attr':{'placeholder':'votre nom '}}) }}
    {{ form_row(form.email,{'label':'Email','attr':{'placeholder': ' votre adresse email'}}) }}
    {{ form_row(form.age,{'label':'Age','attr':{'placeholder':'Veuillez saisir votre age '}}) }}
    {{ form_row(form.date,{'label':'date','attr':{'placeholder':'Veuillez saisir votre date de reservations '}}) }}
 <button class="butter">
     Send

 </button>



            {{ form_end (form)}}
                </div>
            </div>
            </div>



        </div>
</div>


{% endblock %}