{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}


{% block body %}
    <script src="https://kit.fontawesome.com/1d7197e122.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Cabin' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lobster+Two&display=swap" rel="stylesheet">

    <div id="pages4">

        <div class="container">
<br>
                <h1 class="reserve"> Réserve vite </h1>

                <div class="fleee">


                <table>
                    <tr class="ligne-impaire">
                        <td> Horaires</td>

                        <td> Catégories</td>
                        <td> Exercices</td>
                        <td> Tarifs</td>
                    </tr>
                    <tr class="ligne-paire">
                        <td>   Lundi 10h-11h</td>
                        <td>   ENFANTS</td>
                        <td>   Initiations</td>
                        <td>   30€</td>

                    </tr>
                    <tr class="ligne-impaire">
                        <td>  Mardi 15h-16h</td>
                        <td>  Adultes</td>
                        <td>  Initiations  </td>
                        <td>  50€ </td>
                    </tr >  <tr class="ligne-paire">
                        <td>  Mercredi 10h-11h</td>
                        <td>  Adultes</td>
                        <td>  Initiations  </td>
                        <td>  50€ </td>
                    </tr>  <tr  class="ligne-impaire">
                        <td>  Vendredi 15h-16h</td>
                        <td>  Adultes/Enfants</td>
                        <td>  Mise en pratique
                            Avec une course
                        </td>
                        <td>  25€ </td>
                    </tr>
                </table>
                    <br>
                {{ form_start(form) }}
                    <br>

    {{ form_row(form.name,{'label':'Name','attr':{'placeholder':'votre nom '}}) }}

                    {{ form_row(form.email,{'label':'Email','attr':{'placeholder': ' votre adresse email'}}) }}
                            {{ form_row(form.isAttending,{'label':'Categories','attr':{'placeholder':'Veuillez saisir votre date de reservations '}}) }}

                    {{ form_row(form.startTime,{'label':'heure','attr':{'placeholder':'Veuillez saisir votre date de reservations '}}) }}
                    {{ form_row(form.date,{'label':'date','attr':{'placeholder':'Veuillez saisir votre date de reservations '}}) }}


 <button class="butter">
     Send

 </button>



            {{ form_end (form)}}
                    <br>





            </div>
            </div>

            </div>

        </div>
</div>


    </div>
{% endblock %}